.register-wrapper {
  text-align: center;
  margin: 10vh;
}

.register-box {
  max-width: 50vh;
  padding: 20px;
  align-items: center;
  background-color: gray;
  display: inline-block;
}

.register-header {
  font-style: italic;
}

.register-rsvp-box {
  margin: 20px;
}