.register-wrapper {
  text-align: center;
  margin: 5vh 0vh 0vh 0vh;
}

.register-box {
  max-width: 50vh;
  padding: 20px;
  align-items: center;
  display: inline-block;
}

.register-header {
  font-variant: small-caps;
  font-weight: 500;
  letter-spacing: 2px;
}

.register-rsvp-box {
  margin: 20px;
}

.register-text {
  letter-spacing: .5px;
  font-weight: 100;
}